<section class="hobbies-section">
  <h1 class="text-uppercase fw-bold">Hobbies</h1>
  <div class="job-line">
    <span class="green-line"></span>
    <span class="line"></span>
  </div>
<div class="hobbies-container">
  <div class="hobby-item" *ngFor="let hobby of hobbies">
    <i [ngClass]="hobby.icon" class="hobby-icon"></i>
    <p class="hobby-title">{{ hobby.title }}</p>
  </div>
</div>
</section>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username"/>
    <div *ngIf="username?.invalid && username?.touched">
      Username is required (min 3 characters).
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email"/>

    <div *ngIf="email?.invalid && email?.touched">
      Please enter a valid email.
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password"/>

    <div *ngIf="password?.invalid && password?.touched">
      Password is required (min 6 characters).
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
    <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
      Confirm Password is required (min 6 characters).
    </div>
    <div *ngIf="userForm.hasError('passwordMismatch') && confirmPassword?.touched">
      Passwords do not match.
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>


<div *ngIf="users.length > 0" class="user-list">
  <h3>Submitted Users:</h3>
  <ul>
    <li *ngFor="let user of users">{{ user.username }} ({{ user.email }})</li>
  </ul>
</div>
