<section class="mb-5">
  <div class="toggle-section">
    <h1 class="text-uppercase fw-bold">References</h1>
    <button class="toggle-btn" (click)="toggleShowMore()">
      {{ showMore ? 'Show Less' : 'Show More' }} <span class="arrow">{{ showMore ? '▲' : '▼' }}</span>
    </button>
    <div class="job-line">
      <span class="green-line"></span>
      <span class="line"></span>
    </div>

    <div class="reference-list">
      <ul class="list-unstyled">
        <li *ngFor="let ref of references; let i = index" [class.hidden]="!showMore && i >= 1">
          <h2 class="fw-bold">{{ ref.name }}</h2>
          <p class="Adress">{{ ref.address }}</p>
          <p class="telefon-number">Tel: {{ ref.phone }}</p>
          <p class="Email">Email: {{ ref.email }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>

