<nav class="nav justify-content-center p-3">
  <a class="btn btn-primary m-1" routerLink="/profile">Profile</a>
  <a class="btn btn-secondary m-1" routerLink="/about-me">About Me</a>
  <a class="btn btn-success m-1" routerLink="/education">Education</a>
  <a class="btn btn-danger m-1" routerLink="/experience">Experience</a>
  <a class="btn btn-warning m-1" routerLink="/hobbies">Hobbies</a>
  <a class="btn btn-info m-1" routerLink="/languages">Languages</a>
  <a class="btn btn-dark m-1" routerLink="/references">References</a>
  <a class="btn btn-light m-1" routerLink="/skills">Skills</a>
</nav>

<!-- Динамічний контент -->
<router-outlet></router-outlet>
