<div class="container">
  <div class="row">
    <!-- Ліва колонка -->
    <div class="col-lg-8 col-md-12  mb-4">
      <app-experience></app-experience>
      <app-education></app-education>
      <app-references></app-references>
      <app-skills></app-skills>
    </div>

    <!-- Права колонка -->
    <div class="col-lg-4 col-md-12">
      <app-profile></app-profile>
      <app-about-me></app-about-me>
      <app-languages></app-languages>
      <app-hobbies></app-hobbies>
    </div>
  </div>
</div>
