<section class="mb-5">
  <h1 class="text-uppercase fw-bold">Languages</h1>
  <div class="job-line">
    <span class="green-line"></span>
    <span class="line"></span>
  </div>
  <div class="language-section">
    <div class="languages-container" *ngFor="let language of languages">
      <div class="language-chart">
        <canvas [id]="language.name + 'Chart'"></canvas>
        <div class="language-percentage">{{ language.percentage }}%</div>
        <div class="language-label">{{ language.name }}</div>
      </div>
    </div>
  </div>
</section>

