@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles.scss' as *;

.profile-card {
  background-color: $text-color;
  color: $white-color;
  text-align: center;
  padding: 20px 15px;
  width: 100% !important;
  max-width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 450px;
  position: relative;
  margin-bottom: 50px;
}
.profile-image {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-color:$white-color;
  overflow: hidden;
  margin-top: 45px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name{
  font-size:40px;
  text-transform: uppercase;
}
.job-title{
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:$white-color;
  font-family: "Raleway Roman", serif;
  text-align: center;
  margin-top: -25px;
}
.profile-underline {
  position: relative;
  width: 290px;
  height: 3px;
  background-color:$white-color;
  margin: -20px auto;

.green-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: $primary-color;
}
}
.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 20px;

  .contact-item {
    display: flex;
    align-items: center;
    background-color: $progress-bg;
    padding: 15px 20px;
    width: 100%;
    position: relative;
  }

  .contact-icon {
    color: $primary-color;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: 15px;
    position: relative;
  }

  .divider {
    width: 2px;
    height: 100%;
    background-color: $text-color;
    position: absolute;
    left: 60px;
  }

  .contact-text {
    font-size: 1rem;
    color: $text-color;
    font-weight: bold;
    margin-left: 20px;
  }
}
