<div class="profile-card">
  <div class="profile-image">
    <img [ngSrc]="imageUrl" [alt]="name" width="215" height="215">
  </div>
  <h2 class="name">{{ name }}</h2>
  <p class="job-title">{{ jobTitle }}</p>

  <div class="profile-underline">
    <div class="green-bar"></div>
  </div>
</div>

<div class="contact-container">
  <div class="contact-item" *ngFor="let contact of contacts">
    <!-- Використовуємо fa-icon для відображення іконок -->
    <fa-icon [icon]="contact.icon" class="contact-icon"></fa-icon>
    <div class="divider"></div>
    <span class="contact-text">{{ contact.text }}</span>
  </div>
</div>
